{
  "channels": [{
      "ID": "789145",
      "writeAPI": "4P7ALDEHKRJ054OI",
      "readAPI": "KIN20YJPVTAY4JJR"
    },
    {
      "ID": "791968",
      "writeAPI": "OUH1V5LQ9IAGQRV7",
      "readAPI": "X87MLHDH1TH571LD"
    },
    {
      "ID": "791970",
      "writeAPI": "JW10IMHQK9CG55WG",
      "readAPI": "GIBOWUYHYBRVNUWL"
    }
  ]
}
