{
  "channels": [{
      "ID": "000000",
      "writeAPI": "XXXXXXXXXXXXXXXX",
      "readAPI": "YYYYYYYYYYYYYYYY"
    },
    {
      "ID": "123456",
      "writeAPI": "XXXXXXXXXXXXXXXX",
      "readAPI": "YYYYYYYYYYYYYYYY"
    }
  ]
}
