#Icon {
  margin:6px;
  height:55px;
  width:64px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  font-family:Dosis, sans-serif;
  font-size:25px;
}

